/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#contenedor-home .pie-pagina .links-footer a:hover, .pie-pagina .links-footer a:hover {
  color: brown;
  transition: 0.4s ease; }

/* estilos home*/
#contenedor-home {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  #contenedor-home .titulo-home {
    color: whitesmoke;
    text-align: center;
    font-size: 1.1rem; }
  #contenedor-home .pie-pagina {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    margin: 0rem 0.5rem;
    padding: 0.5rem;
    font-size: 0.7rem; }
    #contenedor-home .pie-pagina p {
      margin: 0; }
    #contenedor-home .pie-pagina .links-footer a {
      text-decoration: none;
      color: whitesmoke;
      margin-right: 0.3rem; }

/* estilos nosotros*/
body {
  background: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.5)), url(../img/edificio.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  body #container-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.7fr;
    grid-template-rows: 0.1fr 1fr 0.01fr;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    gap: 5rem; }
  body header {
    background-color: #000000;
    grid-area: header; }
    body header .img {
      display: none;
      border-radius: 0.5rem;
      margin-right: 1rem; }
    body header .transition {
      transition: 0.4s ease; }
    body header .color-burger {
      background-color: #212121;
      border-color: #353535; }
  body main {
    grid-area: main;
    border-radius: 1rem; }
    body main .container-main {
      text-align: center;
      color: #c8c8c8;
      font-size: 1rem;
      margin: 0rem 1rem; }
      body main .container-main h1 {
        font-size: 2.5rem;
        border-radius: 1rem;
        color: whitesmoke;
        margin-bottom: 2rem; }
      body main .container-main .parrafo-uno {
        margin: 3rem 1rem 0rem 1rem; }
  body .section1 {
    grid-area: section1;
    display: none;
    color: #c8c8c8;
    text-align: center; }
    body .section1 h2 {
      border-radius: 1rem;
      color: whitesmoke;
      font-size: 2rem; }
  body footer {
    background-color: #000000;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center; }
    body footer .pie-nosotros {
      color: whitesmoke;
      padding: 0.5rem;
      font-size: 0.7rem; }
      body footer .pie-nosotros .footer-nosotros {
        display: none; }
      body footer .pie-nosotros p {
        margin: 0; }

/*estilos clientes*/
.titulo-clientes {
  text-align: center;
  margin-top: 5rem;
  color: whitesmoke;
  font-size: 1.7rem; }

#container-clientes {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  #container-clientes .cliente-uno {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    border-radius: 1rem;
    margin: 0rem 4rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #1c1c1c; }
  #container-clientes .cliente-dos {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    border-radius: 1rem;
    margin: 0rem 4rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #1c1c1c; }
  #container-clientes .cliente-tres {
    display: none; }
  #container-clientes .cliente-cuatro {
    display: none; }
  #container-clientes .imagenes {
    height: 80%;
    width: 100%;
    margin: 0rem 2rem;
    border-radius: 0.4rem; }
  #container-clientes .parrafo-cliente {
    color: whitesmoke;
    font-size: 0.9rem;
    text-align: center;
    margin: 0.5rem;
    overflow: hidden; }

.pie-pagina {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  margin: 0rem 0.5rem;
  padding: 0.5rem;
  font-size: 0.7rem; }
  .pie-pagina p {
    margin: 0; }
  .pie-pagina .links-footer a {
    text-decoration: none;
    color: whitesmoke;
    margin-right: 0.3rem; }

/*estilos servicios*/
#container-servicios {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #container-servicios .titulo-servicio {
    color: whitesmoke;
    font-size: 3.5rem;
    margin-top: 4rem; }
  #container-servicios .servicio-uno {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #container-servicios .servicio-uno .imagen-servicio1 {
      margin-bottom: 1rem;
      width: 80%;
      border-radius: 1rem; }
  #container-servicios .servicio-dos {
    display: none; }
  #container-servicios .parrafo-servicio {
    color: whitesmoke;
    margin: 1rem 2rem;
    font-weight: bold; }
    #container-servicios .parrafo-servicio li {
      margin-bottom: 1rem; }

/*estilos  contacto*/
form {
  height: 100vh; }
  form .titulo-contacto {
    color: whitesmoke;
    margin: 4rem;
    text-align: center; }
  form .container-form {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
    background-color: #000000;
    margin: 0rem 2rem;
    border-radius: 1rem; }
    form .container-form .grupos-form {
      width: 100%; }
      form .container-form .grupos-form label {
        color: whitesmoke;
        margin: 0rem 0rem 0.3rem 1rem; }
      form .container-form .grupos-form input {
        margin-left: 1rem;
        width: 85%; }
    form .container-form .botons {
      width: 100%;
      display: flex;
      justify-content: start;
      margin-left: 2rem; }
      form .container-form .botons input {
        border-radius: 1rem;
        padding: 0.3rem;
        color: #000000;
        background-color: #dddddd; }

/* media queries*/
@media screen and (min-width: 600px) {
  #contenedor-home .titulo-home h1 {
    font-size: 2.5rem; }
  #contenedor-home .pie-pagina {
    font-size: 0.8rem; }
  .pie-pagina {
    font-size: 0.8rem; }
  body header .img {
    display: block;
    width: 6%; }
  body #container-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.3fr 0.5fr 0.5fr;
    grid-template-rows: 0.1fr 1fr 0.01fr;
    grid-template-areas: "header header header" "main main section1" "footer footer footer";
    gap: 5rem; }
  body main .container-main h1 {
    font-size: 3rem; }
  body main .container-main .parrafo-uno {
    font-size: 1.4rem; }
  body .section1 {
    margin-right: 1rem; }
    body .section1 .parrafos {
      font-size: 1.1rem; }
  body footer .pie-nosotros {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    margin: 0rem 0.5rem;
    font-size: 0.8rem; }
    body footer .pie-nosotros .footer-nosotros {
      display: block; }
    body footer .pie-nosotros .footer-nosotros a {
      text-decoration: none;
      color: whitesmoke;
      margin-right: 0.3rem; }
    body footer .pie-nosotros .footer-nosotros a:hover {
      color: brown;
      transition: 0.4s ease; }
  body .section1 {
    display: block; }
    body .section1 h2 {
      padding: 0.5rem; }
  .titulo-clientes {
    font-size: 2rem; }
  #container-clientes {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center; }
    #container-clientes .cliente-uno {
      height: 60vh;
      margin: 0rem 1rem; }
    #container-clientes .cliente-dos {
      height: 60vh;
      margin: 0rem 1rem; }
    #container-clientes .cliente-tres {
      height: 60vh;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #000000;
      border-radius: 1rem;
      box-shadow: 0.2rem 0.2rem 0.2rem #1c1c1c;
      margin: 0rem 1rem; }
    #container-clientes .parrafo-cliente {
      font-size: 1.1rem;
      overflow: hidden; }
    #container-clientes .imagenes {
      width: 100%;
      margin: 0rem 2rem; }
  #container-servicios .servicio-uno {
    flex-direction: row;
    align-items: center; }
    #container-servicios .servicio-uno .imagen-servicio1 {
      width: 50%;
      margin: 0rem 2rem; }
  #container-servicios .servicio-dos {
    display: block;
    height: 70vh;
    display: flex;
    align-items: center; }
    #container-servicios .servicio-dos .imagen-servicio2 {
      width: 50%;
      margin: 0rem 2rem;
      border-radius: 1rem; }
  .parrafo-servicio {
    font-size: 1.1rem; }
  form .container-form {
    margin: 0rem 8rem; }
    form .container-form .grupos-form {
      display: flex;
      flex-direction: column; }
      form .container-form .grupos-form input {
        width: 90%; } }

@media screen and (min-width: 1024px) {
  #contenedor-home .titulo-home h1 {
    font-size: 3rem; }
  #contenedor-home .pie-pagina {
    font-size: 0.9rem; }
  .pie-pagina {
    font-size: 0.9rem; }
  body header .img {
    width: 3%; }
  body .section1 .parrafos {
    font-size: 1.3rem;
    margin: 0rem 3rem; }
  body .section1 h2 {
    padding: 1rem; }
  body main .container-main h1 {
    padding: 0.9rem; }
  body main .container-main .parrafo-uno {
    font-size: 1.7rem;
    margin: 0rem 3rem; }
  body footer .pie-nosotros {
    font-size: 0.9rem; }
  .titulo-clientes {
    margin: 4.5rem 0rem;
    font-size: 2.5rem; }
  #container-clientes .imagenes {
    width: 15%; }
  #container-clientes .cliente-uno {
    margin: 0rem 2rem; }
  #container-clientes .cliente-dos {
    margin: 0rem 2rem; }
  #container-clientes .cliente-tres {
    margin: 0rem 2rem; }
  #container-clientes .cliente-cuatro {
    display: block;
    height: 60vh;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #1c1c1c;
    margin: 0rem 2rem; }
  #container-clientes .parrafo-cliente {
    font-size: 1.2rem; }
  #container-clientes .imagenes {
    width: 100%;
    margin: 0rem 2rem; }
  #container-servicios .servicio-uno .imagen-servicio1 {
    width: 40%; }
  #container-servicios .servicio-dos .imagen-servicio2 {
    width: 40%; }
  .parrafo-servicio {
    font-size: 1.5rem; }
  form .container-form {
    margin: 0rem 12rem; } }
