* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* estilos home*/

#contenedor-home {
    height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.1), rgba(5, 7, 12, 0.1)), url(img/edificio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-home {
    color: whitesmoke;
    text-align: center;
    font-size: 1.1rem;
    animation-name: agranda-titulo;
    animation-duration: 1s;
}

@keyframes agranda-titulo {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
}

.pie-pagina {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    margin: 0rem 0.5rem;
    padding: 0.5rem;
    font-size: 0.7rem;
}

.links-footer a {
    text-decoration: none;
    color: whitesmoke;
    margin-right: 0.3rem;
}

.links-footer a:hover {
    color: brown;
    transition: 0.5s ease;
}


@media screen and (min-width:600px) {
    .pie-pagina{
        font-size: 1rem;
    }

    @keyframes agranda-titulo {
        from{
            transform: scale(1);
        } 
        
        to{
            transform: scale(1.3);
        }
    }

    .titulo-home{
        font-size: 1.5rem;
    }
}

@media screen and (min-width:1024px) {
    .titulo-home h1 {
        font-size: 3rem;
    }
}

/*estilos nosotros*/

body {
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/edificio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.7fr;
    grid-template-rows: 0.1fr 1fr 0.01fr;
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
    gap: 0.1rem;
}

header {
    background-color: #000000;
    grid-area: header;
}

main {
    grid-area: main;
    border-radius: 1rem;
}

.section1 {
    grid-area: section1;
    border-radius: 1rem;
    display: none;
}


footer {
    background-color: #000000;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header*/

#menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-nav img {
    width: 10%;
    margin: 0.5rem 0rem 0.5rem 0.5rem;
}

.container-list {
    display: flex;
    gap: 0.3rem;
    margin-right: 0.5rem;
}

.container-list li {
    font-size: 0.7rem;
    list-style: none;
}

.links {
    text-decoration: none;
    color: whitesmoke;
}

.links:hover {
    color: brown;
    transition: 0.5s ease;
}

/*main*/

.container-main {
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: 1rem;
}

.container-main h1 {
    margin: 1rem 0rem 3rem 0rem;
    font-size: 2rem;
    background-image: linear-gradient(to right, black, rgb(107, 94, 71));
    padding: 0.7rem;
    border-radius: 1rem;
    color: whitesmoke;
    display: inline-block;
}


.section1 {
    color: rgb(200, 200, 200);
    text-align: center;
}

.section1 h2 {
    margin: 1rem 0rem 3rem 0rem;
    background-image: linear-gradient(to right, black, rgb(107, 94, 71));
    padding: 0.7rem;
    border-radius: 1rem;
    color: whitesmoke;
    display: inline-block;
}


/*footer*/

.footer-nosotros {
    display: none;
}

.pie-nosotros {
    color: whitesmoke;
    padding: 0.5rem;
    font-size: 0.8rem;
}

@media screen and (min-width:600px) {
    #container-grid {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 0.5fr 0.7fr;
        grid-template-rows: 0.1fr 1fr 0.01fr;
        grid-template-areas: "header header header"
                            "main main section1"
                            "footer footer footer";
        gap: 0.1rem;
    }

    .container-list {
        gap: 0.8rem;
        margin-right: 1rem;
    }

    .links {
        font-size: 1rem;
    }

    #menu-nav img {
        width: 7%;
    }

    .parrafos {
        font-size: 1.1rem;
    }

    .parrafo-uno {
        font-size: 1.4rem;
    }

    .pie-nosotros {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: whitesmoke;
        margin: 0rem 1rem;
        font-size: 1rem;
    }

    .footer-nosotros {
        display: block;
    }

    .footer-nosotros a {
        text-decoration: none;
        color: whitesmoke;
        margin-right: 0.3rem;
    }

    .footer-nosotros a:hover {
        color: brown;
    }

    .section1{
        display: block;
    }

    .section1 h2{
        padding: 0.5rem;
    }

    .container-main h1{
        padding: 0.5rem;
    }
}

@media screen and (min-width:1024px) {
    .container-list {
        gap: 1.1rem;
        margin-right: 1.2rem;
    }

    .links {
        font-size: 1.2rem;
    }

    #menu-nav img {
        width: 5%;
    }

    .parrafos {
        font-size: 1.5rem;
    }

    .parrafo-uno {
        font-size: 2rem;
    }

    .section1 h2{
        padding: 1rem;
    }

    .container-main h1{
        padding: 0.9rem;
    }

}

/* estilos clientes*/
.imagenes {
    width: 45%;
    margin-left: 0.8rem;
    animation-name: agranda-imagen;
    animation-duration: 1s;
}

@keyframes agranda-imagen {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
}  

.cliente-tres {
    display: none;
}

.cliente-cuatro {
    display: none;
}

#container-clientes {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulo-clientes {
    text-align: center;
    margin-top: 5rem;
    color: whitesmoke;
    font-size: 1.7rem;

}


.cliente-uno {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cliente-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.parrafo-cliente {
    color: whitesmoke;
    font-size: 0.7rem;
}

.parrafo-footer {
    padding: 0.8rem;
}

@media screen and (min-width:600px) {
    .cliente-tres {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .parrafo-cliente {
        font-size: 1.3rem;
    }

    .imagenes {
        width: 25%;
    }

    .titulo-clientes{
        font-size: 2rem;
    }
}

@media screen and (min-width:1024px) {
    .cliente-cuatro {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .imagenes {
        width: 15%;
    }

    .titulo-clientes {
        margin: 4.5rem 0rem;
        font-size: 2.5rem;
    }

    .parrafo-cliente {
        font-size: 1.6rem;
    }
}

/* estilos servicios*/

#container-servicios {
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.servicio-dos {
    display: none;
}

.servicio-uno {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titulo-servicio {
    background-image: linear-gradient(to right, black, rgb(107, 94, 71));
    padding: 0.5rem;
    border-radius: 1rem;
    color: whitesmoke;
    font-size: 2.7rem;
    margin-bottom: 2rem;
}

.parrafo-servicio {
    color: whitesmoke;
    text-align: center;
    margin: 0rem 0.5rem;
}

@media screen and (min-width:600px) {
    .servicio-dos {
        display: block;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .subtitulo-servicios {
        background-image: linear-gradient(to right, black, rgb(107, 94, 71));
        padding: 0.3rem;
        border-radius: 1rem;
        color: whitesmoke;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width:1024px) {
    .parrafo-servicio {
        font-size: 1.5rem;
    }

    .subtitulo-servicios{
        padding: 1rem;
    }
}

/*estilos contacto*/

.container-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
}

.grupos-form {
    background-image: linear-gradient(to right, black, rgb(171, 146, 102));
    padding: 0.6rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #1a1a1a;
}

.botons {
    display: flex;
    justify-content: space-evenly;
    margin: 0rem 1rem 1rem 2.5rem;
}

.botons input {
    background-image: linear-gradient(to right, black, rgb(147, 129, 97));
    color: whitesmoke;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #1a1a1a;
}

.titulo-contacto {
    font-size: 1.5rem;
    background-image: linear-gradient(to right, black, rgb(107, 94, 71));
    margin: 0rem 0.1rem;
    padding: 0.3rem;
    border-radius: 1rem;
}

.grupos-form input {
    width: 8.7rem;
    margin-left: 0.5rem;
}

@media screen and (min-width:600px) {
    .titulo-contacto {
        font-size: 1.9rem;
        padding: 1rem;
    }

    .grupos-form{
        padding: 1rem;
    }

    .grupos-form input {
        width: 16rem;
    }
}

@media screen and (min-width:1024px) {
    .titulo-contacto {
        font-size: 2.2em;
    }

    .grupos-form input {
        width: 22rem;
    }
}

/*contactanos*/

#background-contactanos{
    background-image: none;
    background-color: #dc3545;
}

.contenedor-contactanos{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
