/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// imports
@import "base/variables";
@import "base/mixin";
@import "base/extend";

//nestin

/* estilos home*/
#contenedor-home {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .titulo-home {
        color: $color-texto;
        text-align: center;
        font-size: 1.1rem;
    }

    .pie-pagina {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-texto;
        margin: 0rem 0.5rem;
        padding: 0.5rem;
        font-size: 0.7rem;

        p {
            margin: 0;
        }

        .links-footer a {
            text-decoration: none;
            color: $color-texto;
            margin-right: 0.3rem;
        }

        .links-footer a:hover {
            @extend %hover;
        }

    }
}

/* estilos nosotros*/
body {
    background: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.5)), url(../img/edificio.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    #container-grid {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 0.5fr 0.7fr;
        grid-template-rows: 0.1fr 1fr 0.01fr;
        grid-template-areas: "header header header"
            "main main main"
            "footer footer footer";
        gap: 5rem;
    }

    header {
        background-color: $color-encabezado;
        grid-area: header;

        .img {
            display: none;
            border-radius: 0.5rem;
            margin-right: $medida-principal;
        }

        .transition {
            transition: 0.4s ease;
        }

        .color-burger {
            background-color: rgb(33, 33, 33);
            border-color: rgb(53, 53, 53);
        }
    }

    main {
        grid-area: main;
        border-radius: $medida-principal;

        .container-main {
            text-align: center;
            color: rgb(200, 200, 200);
            font-size: $medida-principal;
            margin: 0rem 1rem;

            h1 {
                font-size: 2.5rem;
                border-radius: $medida-principal;
                color: $color-texto;
                margin-bottom: $medida-secundario;
            }

            .parrafo-uno {
                margin: 3rem $medida-principal 0rem $medida-principal;
            }
        }
    }

    .section1 {
        grid-area: section1;
        display: none;
        color: rgb(200, 200, 200);
        text-align: center;

        h2 {
            border-radius: $medida-principal;
            color: $color-texto;
            font-size: $medida-secundario;
        }
    }

    footer {
        background-color: $color-encabezado;
        grid-area: footer;
        @include flex;

        .pie-nosotros {
            color: $color-texto;
            padding: 0.5rem;
            font-size: 0.7rem;

            .footer-nosotros {
                display: none;
            }

            p {
                margin: 0;
            }
        }
    }
}

/*estilos clientes*/
.titulo-clientes {
    text-align: center;
    margin-top: 5rem;
    color: $color-texto;
    font-size: 1.7rem;
}

#container-clientes {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .cliente-uno {
        height: 40vh;
        @include flex;
        flex-direction: column;
        background-color: $color-encabezado;
        border-radius: $medida-principal;
        margin: 0rem 4rem;
        box-shadow: 0.2rem 0.2rem 0.2rem #1c1c1c;
    }

    .cliente-dos {
        height: 40vh;
        @include flex;
        flex-direction: column;
        background-color: $color-encabezado;
        border-radius: $medida-principal;
        margin: 0rem 4rem;
        box-shadow: 0.2rem 0.2rem 0.2rem #1c1c1c;
    }

    .cliente-tres {
        display: none;
    }

    .cliente-cuatro {
        display: none;
    }

    .imagenes {
        height: 80%;
        width: 100%;
        margin: 0rem $medida-secundario;
        border-radius: 0.4rem;
    }

    .parrafo-cliente {
        color: $color-texto;
        font-size: 0.9rem;
        text-align: center;
        margin: 0.5rem;
        overflow: hidden;
    }
}

.pie-pagina {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-texto;
    margin: 0rem 0.5rem;
    padding: 0.5rem;
    font-size: 0.7rem;

    p {
        margin: 0;
    }

    .links-footer a {
        text-decoration: none;
        color: $color-texto;
        margin-right: 0.3rem;
    }

    .links-footer a:hover {
        @extend %hover;
    }
}

/*estilos servicios*/
#container-servicios {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo-servicio {
        color: $color-texto;
        font-size: 3.5rem;
        margin-top: 4rem;
    }

    .servicio-uno {
        height: 70vh;
        @include flex;
        flex-direction: column;

        .imagen-servicio1 {
            margin-bottom: $medida-principal;
            width: 80%;
            border-radius: $medida-principal;
        }
    }

    .servicio-dos {
        display: none;
    }

    .parrafo-servicio {
        color: $color-texto;
        margin: $medida-principal $medida-secundario;
        font-weight: bold;

        li {
            margin-bottom: $medida-principal;
        }
    }
}

/*estilos  contacto*/
form {
    height: 100vh;

    .titulo-contacto {
        color: $color-texto;
        margin: 4rem;
        text-align: center;
    }

    .container-form {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: $color-texto;
        background-color: $color-encabezado;
        margin: 0rem $medida-secundario;
        border-radius: $medida-principal;

        .grupos-form {
            width: 100%;

            label {
                color: $color-texto;
                margin: 0rem 0rem 0.3rem $medida-principal;
            }

            input {
                margin-left: $medida-principal;
                width: 85%;
            }
        }

        .botons {
            width: 100%;
            display: flex;
            justify-content: start;
            margin-left: $medida-secundario;

            input {
                border-radius: $medida-principal;
                padding: 0.3rem;
                color: $color-encabezado;
                background-color: rgb(221, 221, 221);
            }
        }
    }
}

//import media queries
/* media queries*/
@import "base/medias";